<div class='grid-20'>
  <div class="">
    <div class="profile-name">
      <% if user_signed_in? %>
        <%= image_tag(current_user.avatar, class: "avatar") if current_user.avatar.attached? %>
      <% end %>
      <p class="username small-fade"><%= current_user.name %></p>
    </div>
    
    <div class="quick-stats">
      <% if @categories.empty?%>
      <p class='no-categories'>You have no categories yet</p>
      <% else %>
        <p class="fade-text">You have <%= @categories.length %> <%= 'category'.pluralize(@categories.length) %></p>
        <p class="fade-text">Total categories budget <%= number_to_currency(@total_sum_categories.sum(:limit)) %></p>
      <% end %>
    </div>
  </div>
  <div>
    <div>
      <div class="mini-add-option">
        <p class='latest-categories-ribbon'>Latest Categories</p>
        <p ><%= link_to "+", new_category_path,  class: "plus-category"%></p>
      </div>
      <div>
      </div>
      <div class="latest-categories">
        <% @latest.each do |category| %>
          <div class="type-and-number">
            <div>
              <%= link_to category.name, category_expenses_path(category_id: category.id), class: 'category_name' %>
              <p class="small-fade spent"> <%= number_to_currency(category.expenses.sum(:amount)) %> spent</p>
            </div>
              <% if category.expenses.length == 0%>
                <p class="small-fade spent">No expense</p>
                <% else%> 
                <p class="small-fade spent"><%= category.expenses.length %> <%= 'Item'.pluralize(category.expenses.count) %></p>
              <%end%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>