<header class='desktop-header'>
  <nav class="nav">
    <%= link_to categories_path, class: 'back-sign'  do%>
      <%= image_tag 'logo.png', class: 'nav-main'%>
    <% end %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "submit-button" %>
  </nav>
</header>

<header class='mobile-header'>
  <nav class="mobile-nav">
    <%= link_to categories_path, class: 'back-sign'  do%>
      <%= image_tag 'logo.png', class: 'everest-logo nav-main' %>
    <% end %>
    <ul class='mobile-ul'>
      <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-sign-out" %></li>
      <div class="profile-name-mobile"> 
        <% if user_signed_in? %>
          <%= image_tag(current_user.avatar, class: "avatar") if current_user.avatar.attached? %>
        <% end %>
        <li class="username small-fade"><%= current_user.name %></li>
      </div>
    </ul>
  </nav>
</header>
