<div class='splash'>
  <div class='login_signup'>
    <div class="app-n-logo">
      <%= image_tag 'logo.png', class: 'logo-main'%>
    </div>
    <div class='login-wrapper'>
      <h3>EVEREST</h3>
      <p>Stay on top of the $$$...</p>
      <ul>
        <li><%= image_tag 'create.png', class: 'instruction-icon'%> Create a category</li>
        <li><%= image_tag 'limit.png', class: 'instruction-icon' %> Set a limit</li>
        <li><%= image_tag 'accounting.png', class: 'instruction-icon' %> Add expenses</li>
        <li><%= image_tag 'graph.png', class: 'instruction-icon' %> Track your analytics</li>
      </ul>
      <div class='links-signup-div'>
        <p class='session'><%= link_to "Log in", new_user_session_path, class: ' submit-button' %></p>
        <p class='session register'> <%= link_to "Sign up", new_user_registration_path, class: 'submit-button' %></p>
      </div>
    </div>
  </div>
</div>
