<div id="<%= dom_id category %>">

  <div class="generate-category-avatar" style="background-color: <%= generate_color(category.name) %>;">
    <p><%= category.name[0].upcase %></p>
  </div>


  <p>
  <%= link_to category.name, category_expenses_path(category_id: category.id), class: 'category_name' %>
  </p>
  <p>
   Limit: <%= number_to_currency(category.limit)%>
  </p>
  <% total_amount = category.expenses.sum(:amount) %>
  <p>
   Remaining: <%= number_to_currency((category.limit - total_amount)) %>
  </p>

</div>
