<div id="<%= dom_id category %>">
  <p>
  <%= link_to category.name, category_expenses_path(category_id: category.id), class: 'category_name' %>
  </p>

  <p>
    <%= category.emoji %>
  </p>

  <p>
   Limit: <%=  category.limit %>
  </p>
  <% total_amount = category.expenses.sum(:amount) %>
  <p>
   Remaining: <%= (category.limit - total_amount) %>
  </p>

</div>
