<div id="<%= dom_id category %>"  class='category-details'>
  <div class='category-name-date' >
    <p class="generate-category-avatar" style="background-color: <%= generate_color(category.name) %>"><%= category.name[0].upcase %></p>
    <div class='category-date'>
      <%= link_to category.name, category_expenses_path(category_id: category.id), class: 'category_name' %>
      <p class='small-fade '>Created <%= category.created_at.strftime('%B %e, %Y') %></p>
    </div>
  </div>
  <div class='limit-balance'>
    <div>
      <p class="small-fade">
        Limit: <%= number_to_currency(category.limit)%>
      </p>
      <% total_amount = category.expenses.sum(:amount) %>
      <p class="small-fade">
        <% if category.limit.present? %>
          Balance: <%= number_to_currency(category.limit - total_amount) %>
        <% else %>
          Balance: N/A
        <% end %>
      </p>
    </div>
  </div>
</div>
