<div class='category-index'>
  <div class='category-card'>
    <div class='grid-80'>
      <%= render partial: 'shared/nav' %>
        <p style="color: green"><%= notice %></p>
        <p> <%=  DateTime.now.strftime('%B %d, %Y')%> </p>
        <p><%= link_to "Add Category", new_category_path %></p>
        <div id="categories" class="allCategories">
            <% if @categories.empty?%>
              <p>You have no categories yet</p>
              <p><%= link_to "Add Category", new_category_path %></p>
            <% else %>
              <% @categories.each do |category| %>
                <div class='eachCategory'>
                  <div>
                    <%= render category %>
                  </div>
                  <div class='delete-edit'>
                    <%= link_to "Edit", edit_category_path(id: category.id) %>
                    <p class="fade-text"> <%= button_to 'X', category_path(category), method: :delete, class: 'category_delete_botton' %> </p>
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>
        <br>
    </div>
    <div class='grid-20'>
      <div>
        <% if user_signed_in? %>
          <%= image_tag(current_user.avatar, class: "avatar") if current_user.avatar.attached? %>
        <% end %>
        <p class="username"><%= current_user.name %></p>
        <div>
          <% if @categories.empty?%>
          <p>You have no categories yet</p>
          <% else %>
            <p>You have <%= @categories.length %> <%= 'category'.pluralize(@categories.length) %></p>
            <p>Total amount for all categories is <%= number_to_currency(@categories.sum(:limit)) %></p>
          <% end %>
        </div>
      </div>
      <div>
        <div>
          <div class="mini-add-option">
            <h3>Categories</h3>
            <p><%= link_to "+", new_category_path %></p>
          </div>
          <div>
            <p>Latest Categories</p>
          </div>
          <div class="latest-categories">
            <% @latest.each do |category| %>
              <div class="type-and-number">
                <div>
                  <%= link_to category.name, category_expenses_path(category_id: category.id), class: 'category_name' %>
                  <p class="fade-text spent"> <%= number_to_currency(category.expenses.sum(:amount)) %> Spent</p>
                </div>
                  <% if category.expenses.length == 0%>
                    <p class="fade-text">No expense</p>
                    <% else%>
                    <p class="fade-text"><%= category.expenses.length %> <%= 'Item'.pluralize(category.expenses.count) %></p>
                  <%end%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



