<div class='category-index'>
  <div class='category-card'>
    <div class='grid-80'>
      <%= render partial: 'shared/nav' %>
        <p style="color: green"><%= notice %></p>

        <h3>Categories</h3>
        <p> <%=  DateTime.now.strftime('%B %d, %Y')%> </p>
        
        <div id="categories">
            <% if @categories.empty?%>
              <p>You have no categories yet</p>
            <% else %>
              <% @categories.each do |category| %>
                <div class='eachCategory'>
                  <div>
                    <%= render category %>
                  </div>
                  <div class='delete-edit'>
                    <%= link_to "Edit", edit_category_path(id: category.id) %>
                    <%= button_to 'X', category_path(category), method: :delete, class: 'category_delete_botton' %>
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>
        <br>
    </div>
    <div class='grid-20'>
      <p><%= link_to "Add Category", new_category_path %></p>
      <div>
        <% if @categories.empty?%>
          <p>You have no categories yet</p>
        <% else %>
          <p>You have <%= @categories.length %> <%=  'category'.pluralize(@categories.length) %></p>
          <p>Total amount for all categories is <%= number_to_currency(@categories.sum(:limit)) %></p>
        <% end %>
        <div>
          <% @categories.each do |category| %>
            <p><%= category.name %> </p>
            <p>No of transactions <%= category.expenses.length %> </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



