<%= render partial: 'shared/nav' %>
<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
    <% if @categories.empty?%>
      <p>You have no categories yet</p>
    <% else %>
      <% @categories.each do |category| %>
        <%= render category %>
        <%= link_to "Edit Category", edit_category_path(id: category.id) %>
        <%= button_to 'Delete', category_path(category), method: :delete, class: 'category_delete_botton' %>
    <% end %>
  <% end %>
</div>
<br>
<%= link_to "Add Category", new_category_path %>

