<div id="<%= dom_id expense %>"  class='category-details'>
  <div class='category-name-date' >
    <p class="generate-category-avatar" style="background-color: <%= generate_color(expense.name) %>"><%= expense.name[0].upcase %></p>
    <div class='category-date'>
      <p class="expense-name"><%= expense.name%></p>
      <p class='small-fade mobile-date'><%= expense.created_at.strftime('%B %d, %Y') %></p>
    </div>
  </div>
  <div class='limit-balance'>
    <div>
      <p class="expense-amount"><%= number_to_currency(expense.amount) %></p>
    </div>
  </div>
</div>

