<div class='category-index'>
  <div class='category-card'>
    <div class='grid-80'>
      <div class="inner-layer">
        <%= render partial: 'shared/nav' %>
          <p style="color: green"><%= notice %></p>
          <div class="add-expense-div">
            <div class='expense-and-total-amount'>
              <p class='category-expense-name'><%= category_name = @category.name %> </p> 
              <div>
                <p class='category-expense-amount'>Spent: <%= number_to_currency(@total_amount) %> </p> 
                <p class='category-expense-amount'>Balance: <%= number_to_currency(@category.limit - @total_amount) %> </p> 
              </div>
              <div>
                <% if @total_amount >= @category.limit %>
                  <p class='limit-reached'>You have reached your limit for <b> <%= @category.name %> </b> </p> 
                <% else %>
                  <p class="plus-and-text">
                    <%= link_to "+", new_category_expense_path(user_id: current_user.id, category_id: @category.id), 
                    class: 'add-expense-plus'%> <%= link_to "Add Expense", new_category_expense_path(user_id: current_user.id, category_id: @category.id), class: 'add-expense-btn' %></p>
                <% end %>
              </div>
            </div>
          </div>
          <div id="categories" class="allCategories">
              <% if @expenses.empty?%> 
                <p class='no-categories'>You have no expenses for <b> <%= @category.name %> </b> </p>
              <% else %>
              <% @expenses.each do |expense| %>
              <div class='eachCategory'>
                <div>
                  <%= render expense %>
                </div>
                <div class='delete-edit'>
                  <%= link_to edit_category_expense_path(category_id: @category.id, id: expense.id)do %>
                    <%= image_tag 'editing.png', class: 'edit-pen' %>
                  <% end %>
                  <p class="fade-text"> <%= button_to 'X',category_expense_path(@category, expense), method: :delete, class: 'category_delete_botton' %> </p>
                </div>
              </div>
              <% end %>
            <% end%>
          </div>
      </div>
    </div>
    <%= render partial: 'shared/grid-20' %>
  </div>
</div>


