<div class='category-index'>
  <div class='category-card'>
    <div class='grid-80'>
      <%= render partial: 'shared/nav' %>
      <div class="form-div">
        <%= form_with(model: @expense, url: category_expenses_path(user_id: current_user.id, category_id: @category.id), local: true, remote: true) do |form| %>
          <h3 class='new-expense-ribbon'>Add Expense</h3>
          <div class='expense-inputs'>
            <div>
              <%= form.text_field :name, class: 'field expense-field', placeholder: 'Expense name', class: "form-input" %>
            </div>
            <div>
              <%= form.number_field :amount, class: 'field expense-field', placeholder: 'Amount ($)', class: "form-input" %> <br>
            </div>

            <%# <div>
              <%= form.collection_select :category_id, Category.where(user_id: current_user.id), :id, :name, class: 'field expense-field selection' %>
            <%# </div> %> 
          <div class="add-category-div">
            <%= form.submit 'Add Expense', class: 'submit-button' %>
          </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render partial: 'shared/grid-20' %>
  </div>
</div>


